
body {
    font-family: Courier New, Courier, monospace;
    font-size: larger;
}



label {
    font-size: 20px;
    color: darkcyan;
    width: 150px;
}


textarea {
    font-size: 20px
}


.center {
    text-align: center;
    margin: auto;
    width: 75%;
    border: 2px solid grey;
    padding: 10px;
}

.margin {
    text-align: center;
    margin: auto;
    padding: 3px;
}

img {
    margin:auto;
}

.list {
    text-align: center;
    margin: auto;
    width: 35%;
    border: 2px solid grey;
}

input {
    margin: 10px 10px 10px;
}

.showdata {
    color: black;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

